
.poke-detail {
	color: #f4f4f4;
}

poke-card {
	display:  block;	
	margin:  10px;
	padding:  10px;
	position:  relative;
	/*min-height:  40vh;*/
}

.left-arrow, .right-arrow {
	position:  absolute;
	top:  50%;
}

.left-arrow {
	left:  1.5vw;
}

.right-arrow {
	right:  1.5vw;
}

poke-card inner-column {
	/*border:  2px solid blue;*/
	position:  relative;
	display:  flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: min(85%, 1000px);
	margin:  auto;

}

poke-card .detail-img {
	margin-top: 90px;
}

poke-card .detail-img img {
	height:  250px;
	width: auto;


}

poke-card .poke-name {
	font-family: 'Press Start 2P', cursive;	
	position:  absolute;
	top: 1vh;
	left:  2vw;
	padding:  5px;
	vertical-align: baseline;

}

poke-card .poke-id {
	padding: 5px;
	display:  block;
}

poke-stuff {
	display:  block;
	background-color: #f4f4f4;
	border-radius: 10px;
}
poke-stuff inner-column {
	display:  flex;
	flex-direction: column;
	align-items:  center;
	text-align: center;
}
.type-container p {
	margin:  10px 5px;
}

poke-stuff .text {
	color:  #333;
}

.next-arrows {
	display:  flex;
	justify-content: space-between;
}
.next-arrows a {
	display:  inline-block;
	border-radius: 10px;

}

i {
	font-size:  60px;
	border-radius: 10px;

}

i:active {
	color:  #333;
	transform: scale(1.3);
}

.back-to-dex {
	padding:  15px 20px;
	display:  flex;
	justify-content: center;
	border-radius: 10px;
	color:  #fff;
}
























