
inner-column {
	display:  block;
	width:  min(90%, 350px);
	margin:  auto;
}


h1 {
	font-size: 30px;
	padding:  10px;
	text-align: center;
	margin-top:  20px;
}

.name {
	padding:  0;
}

.poke-container {
	/*padding:  0 20px;*/
	display:  flex;
	flex-direction: column;
}


.Grass {
	border:  4px solid green;
}

.Grass .poke-text {
	background-color: green;
}

.Water {
	border:  4px solid dodgerblue;
}

.Water .poke-text {
	background-color: dodgerblue;
}

.Fire {
	border:  4px solid red;

}

.Fire .poke-text {
	background-color: red;
}

poke-card picture {
	background-color: transparent;
	display:  flex;
	justify-content: center;
}

poke-card img {
	max-height:  250px;
	max-width:  250px;
	padding:  15px;

}


poke-card {
	display: block;
	text-align: center;
}

.poke-text {
	padding:  20px;
	
}





li + li {
	margin-top:  10px;
}


