* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

picture {
	display: block;
}

picture img {
	display: block;
	height: auto;
	width: 100%;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline-block;
	text-decoration: underline;
	color: blue;
}
